<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>数据读取界面</title> 
</head>


<body>

<table>
<tr>
<td colspan="3" style="background-color:#000000;text-align:center;height:50px;width:50px;font-size:22px;color:#FFFFFF ">
<h1>数据查询</h1>
</td>
</tr>

<tr>
<td style="background-color:#666666;height:500px;width:500px;vertical-align:top;text-align:center">
 <p><a href="/"><span style="font-size:28px;color:#FFFFFF;text-align:center ">返回首页</span></a>
 <p><a href="/getw"><span style="font-size:28px;color:#FFFFFF;text-align:center">数据读取</span></a>
 <p><a href="/putw"><span style="font-size:28px;color:#FFFFFF;text-align:center">数据写入</span></a>

 </p>
</td>
<td style="background-color:#CCCCCC;height:500px;width:1000px;vertical-align:top;">

    <form method="post">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span style="font-size:28px">键:</span>
                    </div>
                    <p></p>
                    <input type="text" class="form-control" name="key" style="font-size:25px;width:180px;height:35px">
                </div>
                <p></p>

                    <div class="alert alert-light"></div>
                    <div class="container">
                        <input type="submit" value="提交" style="color:#ebf0f8;background:#666666;border-color:#666666;font-size:20px;width:65px;height:35px" />
                    </div>

                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>

</tr>

<tr>
<td colspan="2" style="background-color:#666666;text-align:center;">
      <p>
       <small><a href="#">Copyright © 2018 by GMT</a></small>
      </p>
       <p> <small>Powered by <a href="#">西安端怡科技有限公司</a></small>
      </p>

</tr>
</table>

</body>

