<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>数据写入界面</title> 
</head>


<body>

<table>
<tr>
<td colspan="3" style="background-color:#000000;text-align:center;height:50px;width:50px;font-size:22px;color:#FFFFFF ">

<h1>数据写入结果</h1>
</td>
</tr>

<tr>
<td style="background-color:#666666;height:500px;width:500px;vertical-align:top;text-align:center">
 <p><a href="/"><span style="font-size:28px;color:#FFFFFF ">返回首页</span></a>
 <p><a href="/getw"><span style="font-size:28px;color:#FFFFFF">数据查询</span></a>
 <p><a href="/putw"><span style="font-size:28px;color:#FFFFFF">数据写入</span></a>

 </p>
</td>
<td style="background-color:#CCCCCC;height:500px;width:1000px;vertical-align:top;">

<div class="header"></div>
<div class="show2">
    <div class="main">
        <h1><%-locals.datax%></h1>
        <p><span style="font-size:28px">数据写入结果:</span></p>
        <p> </p>
        <p><span style="font-size:28px"><%=locals.output%></span></p>
    </div>
    <div class="aside"></div>
 <p></p>
 <p><a href="/putw"><span style="font-size:25px;color:#666666">返回</span></a>
</div>


</tr>

<tr>
<td colspan="2" style="background-color:#666666;text-align:center;">
      <p>
       <small><a href="#">Copyright © 2018 by GMT</a></small>
      </p>
       <p> <small>Powered by <a href="#">西安端怡科技有限公司</a></small>
      </p>

</tr>
</table>

</body>

